// Define variables for your color scheme

// For example:
$red: #FD1015;
$blue: #072ac8;
$yellow: #fcf300;
$orange: #ffc600;
$green: #1EDD88;
$gray: #0E0000;
$light-gray: #F4F4F4;
$light-blue: #1e96fc;
$super-light-blue: #a2d6f9;
