<h1>Pages#about</h1>
<h2>Bienvenue sur le site d'entraide entre adhérents de la Maison Basque de Paris</h2>
<p>Find me in app/views/pages/about.html.erb</p>
<p>Ce site à pour but de mettre en relation les adhérents de la maison basque de paris pour partager leurs petites annonces : meubles, offre d'emplois, convoiturage pour descendre au pays. </p>
