<h1>Pages#home</h1>
<h2>Bienvenue sur le site d'entraide entre adhérents de la Maison Basque de Paris</h2>
<p>Find me in app/views/pages/home.html.erb</p>

<h2>Aller à</h2>

<p><%= link_to "Contact", contact_path %></p>
<p><%= link_to "Découvrir les annonces", about_path %></p>
